*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    color: rgb(0, 0, 0);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
}

main {
    max-height: 100vh;
    min-height: 100vh;
    /* max-width: 100vh; */
    min-width: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 90vh;
    min-width: 90vh;
    background: linear-gradient(to right bottom,
     rgba(255,255,255,0.3), 
    rgba(255,255,255,0.1));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
}

.circle1,.circle2 {
    background: white;
    background: linear-gradient(to right bottom,
     rgba(255,255,255,0.8), 
    rgba(255,255,255,0.3));
    height: 20rem;
    width: 20rem;
    position: fixed;
    border-radius:50%;
} 

.circle1 {
    top: 5%;
    right: 15%;
}

.circle2 {
    bottom: 5%;
    left: 10%;
}


header, form {
    min-height:20vh;
    /* max-width: 90vh; */
    /* min-width: 70vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color:#4cb0f3;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background:#4cb0f3;
    color: white;
}

.todo-container {
    min-width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.trash-btn, .complete-btn{
    background: #fd5526;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
}
.complete-btn {
    background: rgba(140, 218, 24, 0.986);
}
.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(5rem) rotateZ(20deg);
    opacity: 0;
}

select {
    min-width: 10vh;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;

}

select {
    color: #000000;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #4cb0f3;
    color: white;
    top: 0;
    right: 0;
    padding: 0.8rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background: white;
    color: #4cb0f3;
}

.sync-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    /* margin: 0 0 2rem; */
}

.sync-container button {
    color:white;
    background: #4cb0f3;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 2rem;
    padding: 0.5rem;
}

.sync-container button:hover {
    background:white;
    color: #4cb0f3;
}


.popUp-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-height: 25vh;
    width: 25vh;
    top: 1%;
    background: linear-gradient(to right bottom,
    rgba(255,255,255,0.9), 
    rgba(255,255,255,0.1));
    border-radius: 2rem;
    z-index: 2;
}

.popUp-container img {
    max-width: 25vh;
}